#sceneList{
	cursor:pointer;
}
#sceneData {
    background-color: lightgray;
}
.page {
    cursor: pointer;
}

#snippets{
	display:none;
}

#menu{
    width: 900px;
	
}

#menu > li {
	float:left;
	width 200px;
	width: 130px;
	clear: none;
	
}

#menu li{
	cursor:pointer;
}

#menu li:hover > ul{
	display: block;
}

#menu li > ul{
	display: none;
}